
# Editor
.vscode/
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Builded folders
node_modules/
server/client/
dist/

# Prod things
prod.zip
prod/

# local chromium bin
chromium/*

# tmp things
server/src/utils/downloadStructure.ts
server/src/utils/getURL/extractURLFromPlayer.ts
server/src/utils/getURL/fetchM3U8.ts
server/src/utils/getURL/catchPStreamM3U8.ts

# Package-lock
package-lock.json
